backcall
bleach
colorama
cycler
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pickleshare
prompt-toolkit
Pygments
pyparsing
python-dateutil
pytz
pywinpty
pyzmq
qtconsole
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension